---
import Layout from "@/layouts/Layout.astro";

import Interests from "@/components/sections/Interests.astro";
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import Tail from "@/components/sections/Tail.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import ThemeSwitch from "@/components/ThemeSwitch.astro";
import Volunteer from "@/components/sections/Volunteer.astro";

import { basics } from "@cv";
const { name, label } = basics;
---

<Layout title={`${name} Portfolio - ${label}`}>
  <main class="container mx-auto p-4 print:p-0 max-w-7xl mt-20 mb-20">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="md:col-span-1 space-y-6">
        <Hero />
        <About />
        <Skills />
        <Interests />
        <ThemeSwitch />
      </div>
      <div class="md:col-span-2 space-y-12">
        <Experience />
        <Volunteer />
        <Projects />
        <Education />
      </div>
    </div class="mb-20">
    <Tail />
  </main>
  <KeyboardManager />
</Layout>