@tailwind base;
@layer base {
  :root {
    --color-text-base: 0, 0, 0;
    --color-text-muted: 120, 120, 120;
    --color-text-inverted: 255, 255, 255;
    --color-fill: 245, 245, 245;
    --muted: 200, 200, 200;
    --color: 249, 115, 22;
    --color-button-accent: 249, 115, 22;
    --color-button-accent-hover: 55, 55, 55;
    --color-button-muted: 244, 239, 238;
    [data-theme="purple"] {
      --color-text-base: 30, 30, 30;  /* Dark Grey for text */
      --color-text-muted: 100, 100, 100;  /* Light Grey for muted text */
      --color-text-inverted: 240, 240, 240;  /* White for inverted text */
      --color-fill: 240, 240, 240;  /* Light Grey for background fill */
      --muted: 150, 150, 150;  /* Grey for muted elements */
      --color: 140, 105, 207;  /* Light Purple as general color */
      --color-button-accent: 140, 105, 207;  /* Light Purple for button accent */
      --color-button-accent-hover: 120, 85, 195;  /* Slightly darker shade of light purple for button accent hover */
      --color-button-muted: 226, 232, 240;  /* Light Grey for muted button */
    }
    [data-theme="red"] {
      --color-text-base: 28, 25, 23;
      --color-text-muted: 100, 100, 100;
      --color-text-inverted: 245, 245, 245;
      --color-fill: 231, 229, 228;
      --muted: 220, 220, 220;
      --color: 239, 68, 68;
      --color-button-accent: 239, 68, 68;
      --color-button-accent-hover: 220, 50, 70;
      --color-button-muted: 245, 245, 245;
    }
    [data-theme="green"] {
      --color-text-base: 40, 40, 40;
      --color-text-muted: 110, 110, 110;
      --color-text-inverted: 230, 230, 230;
      --color-fill: 236, 252, 203;
      --muted: 189, 220, 147;
      --color: 101, 163, 13;
      --color-button-accent: 101, 163, 13;
      --color-button-accent-hover: 120, 220, 120;
      --color-button-muted: 211, 235, 173;
    }
    [data-theme="cyber"] {
      --color-text-base: 15, 15, 15;
      --color-text-muted: 144, 135, 5;
      --color-text-inverted: 240, 240, 240;
      --color-fill: 252, 255, 64;
      --muted: 50, 50, 50;
      --color: 235, 21, 43;
      --color-button-accent: 235, 21, 43;
      --color-button-accent-hover: 0, 185, 255;
      --color-button-muted: 249, 239, 6;
    }
  }
  .dark {
    --color-text-base: 255, 255, 255;
    --color-text-muted: 150, 150, 150;
    --color-text-inverted: 255, 255, 255;
    --color-fill: 18, 18, 18;
    --muted: 36, 36, 36;
    --color: 227, 77, 10;
    --color-button-accent: 227, 77, 10;
    --color-button-accent-hover: 231, 121, 43;
    --color-button-muted: 26, 26, 26;
    [data-theme="purple"] {
      --color-text-base: 240, 240, 240;  /* Light Grey for text */
      --color-text-muted: 190, 190, 190;  /* Lighter Grey for muted text */
      --color-text-inverted: 30, 30, 30;  /* Dark Grey for inverted text */
      --color-fill: #050506;  /* Dark Grey for background fill */
      --muted: 100, 100, 100;  /* Grey for muted elements */
      --color: 90, 60, 120;  /* Purple for accents */
      --color-button-accent: 90, 60, 120;  /* Purple for button accent */
      --color-button-accent-hover: 60, 30, 90;  /* Dark Purple for button accent hover */
      --color-button-muted: 70, 70, 70;  /* Dark Grey for muted button */
    }
    [data-theme="red"] {
      --color-text-base: 231, 229, 228;
      --color-text-muted: 168, 162, 158;
      --color-text-inverted: 245, 245, 245;
      --color-fill: 28, 25, 23;
      --muted: 45, 45, 45;
      --color: 248, 113, 113;
      --color-button-accent: 248, 113, 113;
      --color-button-accent-hover: 220, 50, 70;
      --color-button-muted: 120, 113, 108; 
    }
    [data-theme="green"] {
      --color-text-base: 230, 230, 230;
      --color-text-muted: 104, 124, 104;
      --color-text-inverted: 230, 230, 230;
      --color-fill: 10, 20, 10;
      --muted: 54, 64, 54;
      --color: 132, 204, 22;
      --color-button-accent: 132, 204, 22;
      --color-button-accent-hover: 120, 220, 120;
      --color-button-muted: 34, 44, 34;
    }
    [data-theme="cyber"] {
      --color-text-base: 252, 255, 64;
      --color-text-muted: 125, 125, 125;
      --color-text-inverted: 240, 240, 240;
      --color-fill: 15, 15, 15;
      --muted: 50, 50, 50;
      --color: 90, 237, 251;
      --color-button-accent: 90, 237, 251;
      --color-button-accent-hover: 0, 185, 255;
      --color-button-muted: 25, 81, 86;
    }
}